<% layout('layouts/boilerplate')%>

<div class="row">
  <div class="col-6 mx-auto">
    <div class="card shadow col-md-8 mx-auto">
      <img src="<%= submission.image.url%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= submission.title%></h5>
        <p class="card-text"><%= submission.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item text-muted"><%= //submission.location%></li>-->
        <li class="list-group-item text-muted">
          Sumitted By: <%= submission.author.username.toUpperCase()%>
        </li>
        <!--<li class="list-group-item">$<%= submission.price%>/night</li>-->
      </ul>

      <% if(currentUser && submission.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <form
          class="d-inline"
          action="/submissions/<%=submission._id%>/edit"
          method="GET"
        >
          <button class="btn btn-info btn-block mb-3">Edit</button>
        </form>

        <form
          class="d-inline"
          action="/submissions/<%=submission._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger btn-block mb-3">Delete</button>
        </form>
        <a
          href="/submissions"
          type="button"
          class="btn btn-outline-info btn-block mb-3 shadow"
          >EXIT</a
        >
      </div>
      <% } %>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <!-- <div class="col-6">
        <h2>Leave a Review</h2>
        <form action="/submissions/<%//=submission._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% //for(let review of submission.reviews) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <h5 class="card-title">Rating: <%//= review.rating %></h5>
                <p class="card-text">Review: <%//= review.body %></p>
                <form action="/submissions/<%//=submission._id%>/reviews/<//%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <%// } %>
    </div>
    -->
</div>
